<%- include("header") -%>

<div class="container py-3 text-center">
    <h3>Thank You For Purchasing The Novel...!</h3>
    <br>
    <h4>The ebook & the bill receipt will be sent to the email mentioned during payment by you within 1 hour</h4>
    <h5>Happy Reading !</h5>
</div>

<%- include("footer") -%>