@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #228648;
    color: #dee2e0;
}

.navbar-brand:hover{
    color: rgb(44, 233, 233)!important;
}

.book:hover{
    box-shadow: 0 0 20px 0 rgba(12, 150, 7, 0.3);
    transform: translateY(20px);
}

.words{
    color: rgb(44, 233, 233);
}